body {
    background-color: #EAf6f6;
}

hr {
    border-style: none;
    border-bottom: 10px dotted cornsilk;
    opacity: 50%;
    height: 0px;
    width: 10%;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}